$block: diokan-settings;


.#{$block} {
  margin-bottom: 30px;
  &-box{
    .diokan-controls-right{
      .diokan-btn-default{
        border: none;
      }
      .diokan-btn + .diokan-btn{
        margin-left: 20px;
      }
    }
  }
}

.diokan-account-password{
  @extend .flexbox;
  flex-flow:row wrap;
  padding-bottom: 20px;
  height: 100%;
  &__description{
    @extend .flexbox;
    @extend .align-center;

    flex:0 0 100%;
  }
  &__field{
    margin-right: 9px;
    font-size: 18px;
    color: $color2;
  }
}