$block: diokan-sidebar;

.#{$block}{
  width: 100px;
  @extend .flexbox;
  @extend .align-center;
  @extend .justify-between;
  flex-flow: column nowrap;
  background: $color2;
  z-index: 10;
  &__fixed-right{
    position: fixed;
    top:0;
    //left: 0;
    bottom: 0;
  }
  &__logo{
    width: 38px;
    *{
      max-width: 100%;
    }
  }
  &__top{
    @extend .flexbox;
    flex-flow: column nowrap;
    @extend .align-center;
  }
  &__bottom{
    padding-bottom: 72px;
  }
  &-info{
    @extend .flexbox;
    @extend .align-center;
    @extend .justify-between;
    flex-flow: column nowrap;
    .diokan-messages-box{
      margin-bottom: 29px;
    }
  }
}