$block: diokan-tab;


.#{$block} {
  margin-bottom: 24px;
  &-pane{
    display: none;
      &.active{
        display: block;
      }
  }
  &-nav{
    display: flex;
    padding: 0;
    margin: 0;
    &-wrap{
      margin: 0 0 30px 0;
    }
    &__item{
      margin: 0 52px 0 0;
      list-style: none;
      &.active{
        .diokan-tab-nav__item-link{
          &:after{
            content: '';
            position: absolute;
            bottom: -5px;
            left: -2px;
            right: -1px;
            height: 3px;
            background: $color6;
          }
          color: $color2;
        }
      }
      &-link{
        position: relative;
        font-size: 24px;
        font-weight: 300;
        line-height: 0.92;
        color: $color5;

        &:hover,
        &:focus,
        &:active{
          color: $color2;
          text-decoration: none;
        }
      }
    }
  }
}
